OLD_OPENAI_API_KEY=
OPENAI_API_KEY=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
GETSONGBPM_API_KEY=
SEARXNG_SEARCH_URL=http://localhost:8080/search
DATASTORE_PROVIDER=sqlite
DATABASE_URL=postgresql://track_lab:track_lab@localhost:5432/track_lab?sslmode=no-verify
